@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  :root {
    /* shadcn color */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* project color */
    /* brand */
    --brand-primary: #10b981;
    --brand-secondary: #34d399;
    --brand-tertiary: #a3e635;
    --brand-gradient: linear-gradient(
      90deg,
      #10b981 0%,
      #a3e635 100%
    );

    /* point */
    --p-purple: #a855f7;
    --p-blue: #3b82f6;
    --p-cyan: #06b6d4;
    --p-pink: #ec4899;
    --p-rose: #f43f5e;
    --p-orange: #f97316;
    --p-yellow: #eab308;

    /* background */
    --b-primary-dark: #0f172a;
    --b-primary-light: #ffffff;
    --b-secondary-dark: #1e293b;
    --b-secondary-light: #f1f5f9;
    --b-tertiary-dark: #334155;
    --b-tertiary-light: #e2e8f0;
    --b-inverse: #ffffff;

    /* interactive */
    --i-inactive: #94a3b8;
    --i-hover: #059669;
    --i-pressed: #047857;
    --i-focus: #10b981;

    /* border */
    --border-primary: rgba(248, 250, 252, 0.5);

    /* text */
    --t-primary-dark: #f8fafc;
    --t-primary-light: #1e293b;
    --t-secondary: #cbd5e1;
    --t-tertiary: #e2e8f0;
    --t-default: #64748b;
    --t-inverse: #ffffff;
    --t-disabled: #94a3b8;

    /* status */
    --s-danger: #dc2626;

    /* icon */
    --icon-primary: #64748b;
    --icon-inverse: #f8fafc;
    --icon-brand: #10b981;
  }
  .dark {
    /* shadcn color */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    /* project color */
    --b-primary-light: var(--b-primary-dark);
    --b-secondary-light: var(--b-secondary-dark);
    --b-tertiary-light: var(--b-tertiary-dark);
    --t-primary-light: var(--t-primary-dark);
  }

  .light {
    /* project color */
    --b-primary-dark: var(--b-primary-light);
    --b-secondary-dark: var(--b-secondary-light);
    --b-tertiary-dark: var(--b-tertiary-light);
    --t-primary-dark: var(--t-primary-light);
  }
}
@layer base {
  * {
    @apply border-border font-sans;
  }
  body {
    @apply bg-background text-t-primary;
  }
}
